apiVersion: apps/v1
kind: Deployment
metadata:
  name: recommendation-service-deployment
spec:
  replicas: 2
  selector:
    matchLabels:
      app: recommendation-service
  template:
    metadata:
      labels:
        app: recommendation-service
    spec:
      containers:
        - name: recommendation-service
          image: kakayano27/recommendation-service:1.0
          ports:
            - containerPort: 8080