server:
  port: 8008

spring:
  application:
    name: gateway

  managment:
    endpoints:
      web:
        exposure:
          include: "*"

      gateway:
        enabled: true

  cloud:
    gateway:
      trusted-proxies: ".*"


      default-filters:
        - PreserveHostHeader

      routes:
        # Route vers le product-composite-service
        - id: product-composite
          uri: lb://product-composite-service
          predicates:
            - Path=/product-composite/**

        # Redirection vers Eureka UI
        - id: eureka-web
          uri: http://${app.eureka-server}:8761
          predicates:
            - Path=/eureka/web
          filters:
            SetPath=/

app:
  eureka-server: localhost

eureka:
  client:
    serviceUrl:
      defaultZone: http://${app.eureka-server}:8761/eureka/
    initialInstanceInfoReplicationIntervalSeconds: 5
    registryFetchIntervalSeconds: 5

  instance:
    leaseRenewalIntervalInSeconds: 5
    leaseExpirationDurationInSeconds: 5

---
spring:
  config:
    activate:
      on-profile: docker
app:
  eureka-server: eureka