spring:
  application:
    name: review-service
  datasource:
    url: jdbc:mysql://${DB_HOST:localhost}:3306/reviewdb?createDatabaseIfNotExist=true
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
server:
  port: ${SERVER_PORT:7004}